<header>
  <div class="logo-container">
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <a href="index.html" class="logo">
      <img src="images/logo.png" alt="AgastyaGPT">
    </a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="products.html">Products</a></li>
      <li><a href="about.html">About Us</a></li>
    </ul>
  </nav>
  <a id="signuploginBtn" class="btn">Login / Signup</a>
</header>